.jumbotron {
  padding-top: 7rem;
  background-color: rgb(171, 205, 245);
}
#about {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
#product {
  padding-top: 7rem;
  background-color: rgb(171, 205, 245);
}
